{{/* SPDX-FileCopyrightText: The RamenDR authors */}}
{{/* SPDX-License-Identifier: Apache-2.0 */}}
{{define "lastGroupSyncTime" -}}
<span class="value">{{formatTime .Value}}</span>
{{- if .State}}<span class="state">{{icon .State}}</span>{{- end}}
{{- if .Description}}
<p class="description">{{.Description}}</p>
{{- end}}
{{- end}}
